<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tealium Suite">
    <listeners>
        <listener class-name="utils.ScreenshotListener"/>
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite>
